<div class="jumbotron">
    <h1 class="display-4">Contact List</h1>
    <p class="my-4">Gerencie seus contatos em qualquer lugar!</p>

    <p  class="lead">
        <%= link_to 'Crie Sua Conta', new_user_path, class:'btn btn-primary btn-lg'%>
    </p>

</div>